@page "/Register" 
@using CatamaranBlazor.Models


@code {
    private RegisterModel model = new RegisterModel();
    private void CallRegister()
    {

    }
}

<div class="register-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="form-container">
                    <EditForm Model="model" OnValidSubmit="@CallRegister">
                        <h2 class="text-center">Register</h2>
                        <br />
                        <p class="text-center">
                            <InputText placeholder="First Name" id="firstName" @bind-Value="model.FirstName" />
                            <ValidationMessage For="@(() => model.FirstName)" />
                        </p>
                        <br />

                        <p class="text-center">
                            <InputText placeholder="Second Name" id="lastName" @bind-Value="model.LastName" />
                            <ValidationMessage For="@(() => model.LastName)" />
                        </p>
                        <br />

                        <p class="text-center">
                            <InputText placeholder="Email Address" id="email" @bind-Value="model.EmailAddress" />
                            <ValidationMessage For="@(() => model.EmailAddress)" />
                        </p>
                        <br />

                        <p class="text-center">
                            <InputText placeholder="User Name" id="userName" @bind-Value="model.Username" />
                            <ValidationMessage For="@(() => model.Username)" />
                        </p>
                        <br />

                        <p class="text-center">
                            <InputText type="password" placeholder="Password" id="password" @bind-Value="model.Password" />
                            <ValidationMessage For="@(() => model.Password)" />
                        </p>
                        <br />

                        <p class="text-center"><InputText type="password" placeholder="Re enter Password" DisplayName="Re Entered password" id="password" @bind-Value="model.Reenter_Password" />
                        <ValidationMessage For="@(() => model.Reenter_Password)" /></p>
                        <br />

                        <div class=" text-center">
                            <DataAnnotationsValidator />
                        </div>
                        <br />
                        <div class="text-center"><button class="btn btn-info" type="submit">Go !</button></div>
                    </EditForm>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>